<!-- ABOUT -->
<div class="py-12" id="about" data-jarallax data-speed=".8" style="background-image: url(assets/img/covers/about3.jpg);">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-7 col-lg-5">
  
          <!-- Card -->
          <div class="card">
            <div class="card-body p-10">
  
              <!-- Heading -->
              <h3 class="mb-6">About Matsa Steel</h3>
  
              <!-- Text -->
              <p class="text-muted">
                Matsa Steel and Fences create and sell great works of steel.
                We are dedicated on designing efficient ad Elegant works of steel.
                
              </p>
  
              <!-- Link -->
              <a class="link-underline" href="#!">
                Discover more
              </a>
  
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>