<nav class="navbar navbar-expand-xl navbar-light fixed-top bg-white">
    <div class="container">
  
      <!-- Brand -->
      <a class="navbar-brand" href="overview.html">
        <img class="logo-icon" src="../../../assets/icon.png">
      </a>
  
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLandingCollapse" aria-controls="navbarLandingCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarLandingCollapse">
  
        <!-- Nav -->
        <ul class="navbar-nav ml-xl-auto">
          <li class="nav-item">
            <a class="nav-link" href="#welcome" routerLinkActive="active" data-toggle="smooth-scroll">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#services" data-toggle="smooth-scroll">Services</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about" data-toggle="smooth-scroll">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/shop" routerLinkActive="active">Shop</a>
          </li>
        </ul>
  
        <!-- Nav -->
        <ul class="navbar-nav ml-xl-4">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" href="#modalShoppingCart">
              <span data-cart-items="2">
                <i class="fe fe-shopping-cart"></i>
              </span>
            </a>
          </li>
        </ul>
  
      </div>
  
    </div>
  </nav>
