<!-- Services -->
<div class="py-12 bg-light" id="services">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <!-- Preheading -->
          <h6 class="heading-xxs mb-3 text-gray-400">
            Services
          </h6>

          <!-- Heading -->
          <h2 class="mb-10">What we do</h2>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4">

          <!-- Card -->
          <div class="card card-lg shadow mb-7 mb-lg-0">
            <div class="card-body border-bottom text-center">

              <!-- Subheading -->
              <h5>Fence</h5>


            </div>
            <div class="card-body">

              

              <!-- List -->
              <ul class="list-styled  mb-8">
                  <li class="list-styled-item text-center">
                      
                    <i class="fas fa-torii-gate mr-2 text-primary"></i> steel palisades
                  </li>
                  <li class="list-styled-item text-center">
                    <i class="fas fa-torii-gate mr-2 text-primary"></i> concrete palisades
                  </li>
                  <li class="list-styled-item text-center">
                    <i class="fas fa-torii-gate mr-2 text-primary"></i> electric fence
                  </li>
                </ul>
              <!-- Button -->
              <div class="text-center">
                <a class="btn btn-outline-primary" href="#!">
                    Inquire about this
                </a>
              </div>

            </div>
          </div>

        </div>
        <div class="col-12 col-lg-4">

          <!-- Card -->
          <div class="card card-lg shadow mb-7 mb-lg-0">

            <!-- Context -->
            <div class="card-body border-bottom text-center">

              <!-- Subheading -->
              <h5>Steel welding</h5>

              
            </div>
            <div class="card-body">

              

              <!-- List -->
              <ul class="list-styled text-center mb-8">
                <li class="list-styled-item">
                    
                  <i class="fas fa-torii-gate mr-2 text-primary"></i> Gates
                </li>
                <li class="list-styled-item">
                  <i class="fas fa-torii-gate mr-2 text-primary"></i> Cattle loading rails
                </li>
                <li class="list-styled-item">
                  <i class="fas fa-torii-gate mr-2 text-primary"></i> kraals
                </li>
                <li class="list-styled-item">
                    <i class="fas fa-torii-gate mr-2 text-primary"></i> Steel sheet decorations
                  </li>
                  <li class="list-styled-item">
                      <i class="fas fa-torii-gate mr-2 text-primary"></i> Carpots
                    </li>
                    <li class="list-styled-item">
                        <i class="fas fa-torii-gate mr-2 text-primary"></i> Trailer manufacture
                      </li>
              </ul>

              <!-- Button -->
              <div class="text-center">
                <a class="btn btn-outline-primary" href="#!">
                    Inquire about this
                </a>
              </div>

            </div>

          </div>

        </div>
        <div class="col-12 col-lg-4">

          <!-- Card -->
          <div class="card card-lg shadow">
            <div class="card-body border-bottom text-center">

              <!-- Subheading -->
              <h5>Survailance</h5>

              

            </div>
            <div class="card-body">

            

              <!-- List -->
              <ul class="list-styled text-center mb-8">
                <li class="list-styled-item">
                  <i class="fas fa-torii-gate mr-2 text-primary"></i> CCTV
                </li>
                <li class="list-styled-item">
                  <i class="fas fa-torii-gate mr-2 text-primary"></i> Cameras
                </li>
                
              </ul>

              <!-- Button -->
              <div class="text-center">
                <a class="btn btn-outline-primary" href="#!">
                  Inquire about this
                </a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
</div>
