<app-nav></app-nav>
  <!-- WELCOME -->
  <section class="py-14" id="welcome" data-jarallax style="background-image: url(assets/img/covers/background.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7 col-lg-5 text-white">
  
          <!-- Heading -->
          <h1 class="display-4" style="font-size:440%;">
            Elegant Steel work and fences
          </h1>
  
          <!-- Text -->
          <p class="mb-8 font-size-lg">
            <span class="">*Discount 20% OFF</span>
          </p>
  
          <!-- Button -->
          <a href="#!" class="btn btn-primary">
            Start Shopping
          </a>
          <!-- <a href="#!" class="btn btn-primary">
              learn More
            </a> -->
  
        </div>
      </div>
    </div>
  </section>
  
  
  <app-services></app-services>
  <app-about></app-about>
  
  <!-- DESCRIPTION -->
  <section class="py-12 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">
  
          <!-- Heading -->
          <h3 class="mb-10 text-center text-lg-left">
            How does Matsa Steel roll?
          </h3>
  
        </div>
        <div class="col-12 col-md">
  
          <!-- Card -->
          <div class="card mb-7 mb-md-0 shadow">
  
            <!-- Image -->
            <img src="assets/img/covers/steel.jpg" alt="..." class="card-img-top">
  
            <!-- Body -->
            <div class="card-body text-center">
              
              <strong>quality works</strong>
            </div>
  
          </div>
  
        </div>
        <div class="col-12 col-md">
  
          <!-- Card -->
          <div class="card mb-7 mb-md-0 shadow">
  
            <!-- Image -->
            <img src="assets/img/covers/about1.jpg" alt="..." class="card-img-top">
  
            <!-- Body -->
            <div class="card-body text-center">
              <strong>posh patterns</strong>
            </div>
  
          </div>
  
        </div>
        <div class="col-12 col-md">
  
          <!-- Card -->
          <div class="card shadow">
  
            <!-- Image -->
            <a href="assets/img/house-fence.png">
            <img src="assets/img/house-fence.png" alt="..." class="card-img-top">
              </a>
            <!-- Body -->
            <div class="card-body text-center">
              <strong>beautify homes</strong>
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  </section>

  <!-- DESCRIPTION -->
  <section class="py-12 goshop">
    <div class="container">
      
        <div class="col-md-8 col-offset-2">
          
            <!-- Heading -->
            <h3 class="mb-10 text-center text-lg-left" style="background-color:#FF6F61; color:#fff;">
              We know steel, We trust the process, We Create.
            </h3>
            <a href="/shop" class="btn btn-primary">Start shopping</a>
         
  
          
        </div>
        
    </div>
  </section>
  
  <app-footer></app-footer>
  